.DOMinatorMenu{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* height: 50px; */

    z-index: 100;
    border-bottom: 2px solid #eee;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.1);
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.DOMinatorMenu> * {

}
.DOMinatorMenu div{
    box-sizing: border-box;
}

.DOMinatorMenuRight{
    /* border: 1px solid red; */
    text-align: right;
}
.DOMinatorMenuLeft{
    /* border: 1px solid green; */
    flex-grow: 1;
    /* flex-grow: 0; */
}
.DOMinator .d-photograph-text.empty{
    display: block;
}
.DOMinatorMenuSeparator{
    background-color: #eee;
    padding: 12px 1px;
    margin: 0 5px;
}
.DOMinatorDropDown-menu .DOMinatorDropDownContainer{
    left: auto;
    right: 0;
}
.DOMinatorMenuButton.DOMinatorMenuButton-menu{
    padding: 0 20px 0 15px;
}
.DOMinatorMenuButton{
    white-space: nowrap;
}
.DOMinatorMenuButtonLabel{
    font-size: 16px;
}
.DOMinatorMenuButton{
    pointer-events: all;
    border: none;
    outline: none;
    border-radius: 0;
    margin: 0;
    width: auto;
    overflow: visible;
    position: relative;

    text-align: center;
    font: inherit;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    font-size: 18px;
    padding:  0px 13px;
    height: 45px;
    background-color: white;
    cursor: pointer;
    color: #222;
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.DOMinatorMenuButton.labelAndIcon .DOMinatorMenuButtonLabel{
    white-space: nowrap;
    margin: 0 10px 0 15px;
}
.DOMinatorMenuButton.labelAndIcon .fa{
    min-width: 25px;
}
.DOMinatorButtonWithCaret{
    padding-right: 7px;
}

body.dominatorMenuActive{
    margin-top: 50px;
}
.DOMinatorSubMenu{
    outline: 1px solid pink;
    outline: none;
    outline-offset: -1px;
    display: flex;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.DOMinatorSubMenu-right{
    justify-content: flex-end;
}

.DOMinatorDropDownCaret{
    font-size: 12px;
    margin-left: 5px;
}
.DOMinatorMenuButton:active, .DOMinatorMenuButton:hover, .DOMinatorMenuButton.button-active{
    color: #009CDE;
    background-color: #eee;
}
.DOMinatorMenuButton.button-disabled{
    opacity: 0.2;
}

.DOMinatorMenuButton-link_style_default{
    color: #999;
}
.DOMinatorMenuButton-link_style_warning{
    color: #ff7518;
}
.DOMinatorMenuButton-link_style_danger{
    color: #b1000b;
}
.DOMinatorMenuButton-link_style_primary{
    color: #009CDE;
}
.DOMinatorMenuButton-link_style_success{
    color: #509E2F;
}
.DOMinatorMenuButton-link_style_info{
    color: #5936e0;
}

.DOMinatorMenuButton-link_style_default:active, .DOMinatorMenuButton-link_style_default.button-active{
    color: white;
    background-color: #999;
}
.DOMinatorMenuButton-link_style_warning:active, .DOMinatorMenuButton-link_style_warning.button-active{
    color: white;
    background-color: #ff7518;
}
.DOMinatorMenuButton-link_style_danger:active, .DOMinatorMenuButton-link_style_danger.button-active{
    color: white;
    background-color: #b1000b;
}
.DOMinatorMenuButton-link_style_primary:active, .DOMinatorMenuButton-link_style_primary.button-active{
    color: white;
    background-color: #009CDE;
}
.DOMinatorMenuButton-link_style_success:active, .DOMinatorMenuButton-link_style_success.button-active{
    color: white;
    background-color: #509E2F;
}
.DOMinatorMenuButton-link_style_info:active, .DOMinatorMenuButton-link_style_info.button-active{
    color: white;
    background-color: #5936e0;
}

.DOMinatorDropDown{
    position: relative;
    /* align-items: flex-start;
    letter-spacing: normal;
    text-align: center;
    word-spacing:0px;
    text-indent:0px;
    text-rendering:auto;
    text-shadow:none;
    text-transform: none;
    vertical-align: middle; */
}
.DOMinatorDropDownContainer{
    position: absolute;
    top: 50px;
    right: 0px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 1px solid #eee; */
}

.DOMinatorMenuInput{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
}
.DOMinatorMenuInput span{
    background-color: #009CDE;
    padding: 0px 15px;
    height: 45px;
    line-height: 44px;
    font-size: 14px;
    color: white;
    white-space: nowrap;
}
.DOMinatorMenuInput input{
    /* resets */
    margin:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
	font-size:13px;
	font-family:Arial;
    background-image:none;
    background-color:white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    border: none;
    border-collapse: collapse;
    border-radius: 0;

    padding: 0;
    height: 45px;
    min-width: 200px;
    background-color: #eee;
    font-size: 14px;
    padding-left: 15px;
    /* color: #009CDE; */
}
.DOMinatorMenuInput input:focus{
    outline: none;
    caret-color: #009CDE;
    /* border-left: 3px solid #009CDE; */
}
.DOMinatorMenuInput input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb;
}
.DOMinatorMenuInput input::-moz-placeholder { /* Firefox 19+ */
    color: #bbb;
}
.DOMinatorMenuInput input:-ms-input-placeholder { /* IE 10+ */
    color: #bbb;
}
.DOMinatorMenuInput input:-moz-placeholder { /* Firefox 18- */
    color: #bbb;
}

.DOMinatorMenuLabel{
    /* font-weight: bold; */
    text-transform: capitalize;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 6px;
    line-height: 45px;
    height: 45px;
    white-space: nowrap;
    /* background-color: #eee; */
    /* height: 40px; */
}
#DOMinatorCodeEditor{
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 40vh;
    border-top: 6px solid #eee;
    border-right: 6px solid #eee;
    /* box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.1); */
}
#DOMinatorOnButton{
    pointer-events: all;
    border: none;
    outline: none;
    border-radius: 0;
    margin: 0;
    width: auto;
    overflow: visible;
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 1;
    text-align: center;
    font: inherit;
    cursor: pointer;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;

    font-size: 24px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
}
#DOMinatorOnButton.active{
    background-color: #009CDE;
    color: white;
}
