@font-face {
  font-family: 'DOMinator';
  src:
    url('fonts/DOMinator.ttf?f0lfr8') format('truetype'),
    url('fonts/DOMinator.woff?f0lfr8') format('woff'),
    url('fonts/DOMinator.svg?f0lfr8#DOMinator') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dics {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DOMinator' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dominator-icon-clearmargin:before {
  content: "\e915";
}
.dominator-icon-clearpadding:before {
  content: "\e91c";
}
.dominator-icon-floatimage-none:before {
  content: "\e917";
}
.dominator-icon-floatimage-right:before {
  content: "\e918";
}
.dominator-icon-floatimage-left:before {
  content: "\e919";
}
.dominator-icon-clearalignment:before {
  content: "\e914";
}
.dominator-icon-allsides:before {
  content: "\e910";
}
.dominator-icon-xsides:before {
  content: "\e911";
}
.dominator-icon-ysides:before {
  content: "\e912";
}
.dominator-icon-bottomside:before {
  content: "\e904";
}
.dominator-icon-rightside:before {
  content: "\e905";
}
.dominator-icon-topside:before {
  content: "\e90c";
}
.dominator-icon-leftside:before {
  content: "\e90f";
}
.dominator-icon-blocklink:before {
  content: "\e90e";
}
.dominator-icon-paddingmargin:before {
  content: "\e903";
}
.dominator-icon-margin:before {
  content: "\e906";
}
.dominator-icon-padding:before {
  content: "\e90d";
}
.dominator-icon-card:before {
  content: "\e901";
}
.dominator-icon-smallcard:before {
  content: "\e902";
}
.dominator-icon-carousel:before {
  content: "\e900";
}
.dominator-icon-onecolumn:before {
  content: "\e913";
}
.dominator-icon-columns12:before {
  content: "\e907";
}
.dominator-icon-columns21:before {
  content: "\e908";
}
.dominator-icon-fourcolumns:before {
  content: "\e909";
}
.dominator-icon-threecolumns:before {
  content: "\e90a";
}
.dominator-icon-twocolumns:before {
  content: "\e90b";
}
