/* align the editor content with the original text to see what the editor changes because it should not change anything ! : ) */
#main_wrapper{
    padding: 10px  40px;
}

#editor, #content{
    padding: 5px 20px 20px 20px;
    padding: 0;
    width: 100%;
}

#editor{
    /* background-color: LightSeaGreen; */
    /* border: 2px solid LightSeaGreen; */
    float: left;
    overflow: visible;
}

#content{
    /* background-color: Salmon; */
    /* border: 2px solid Salmon;
    float: right; */
    display: none;
}
.CodeMirror{
    height: 100%;
}
