@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices to shut the keyboard */
    body{
        cursor:pointer;
    }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tg_widget_container{
    padding: 0 15px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 20px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color: black;
}
h1,h2,h3,h4,h5,h6{
    line-height: 130%;
}
div,p,h1{
    margin-top: 0;
    /* box-sizing: border-box; */
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-muted {
    color: #999999;
}
.text-primary {
    color: #2780e3;
}

.hidden{
    display: none;
}

blockquote{
    clear: both;
}
hr{
    overflow: visible;
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
}

hr:after {
    content: " - ";
    position: relative;
    height: 15px;
    color: transparent;
}
.animate> * {
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.blured{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.no-transition> *{
    -webkit-transition: none !IMPORTANT;
    -moz-transition: none !IMPORTANT;
    -ms-transition: none !IMPORTANT;
    -o-transition: none !IMPORTANT;
    transition: none !IMPORTANT;
}
blockquote {
    margin: 0 auto;
    padding: 15px 15px 5px 25px;
    border-left: 5px solid #ccc;
    margin-bottom: 15px;
}
blockquote:before {
    display: none;
}
input{
    border:none;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
    padding: 10px;
    width:100%;
    outline:none;
    box-sizing: border-box;
    height: 38px;
    -webkit-appearance:     @value;
    -moz-appearance:        @value;
    -ms-appearance:         @value;
    -o-appearance:          @value;
    appearance:             @value;
}
.tg_widget{
    position: relative;
}
.tg_card_header img{
    border: 0 !IMPORTANT;
}
/* grid */
.cl_1,.cl_2,.cl_3,.cl_4,.cl_5,.cl_6,.cl_7,.cl_8,.cl_9,.cl_10,.cl_11,.cl_12{
    float:left;
    position: relative;
    padding: 0px 15px 0px 15px;
}
.cl_1 p:first-child,.cl_2 p:first-child,.cl_3 p:first-child,.cl_4 p:first-child,.cl_5 p:first-child,.cl_6 p:first-child,
.cl_7 p:first-child,.cl_8 p:first-child,.cl_9 p:first-child,.cl_10 p:first-child,.cl_11 p:first-child,.cl_12 p:first-child,
.cl_1 h1:first-child,.cl_1 h2:first-child,.cl_1 h3:first-child,.cl_1 h4:first-child,.cl_1 h5:first-child,.cl_1 h6:first-child,
.cl_2 h1:first-child,.cl_2 h2:first-child,.cl_2 h3:first-child,.cl_2 h4:first-child,.cl_2 h5:first-child,.cl_2 h6:first-child,
.cl_3 h1:first-child,.cl_3 h2:first-child,.cl_3 h3:first-child,.cl_3 h4:first-child,.cl_3 h5:first-child,.cl_3 h6:first-child,
.cl_4 h1:first-child,.cl_4 h2:first-child,.cl_4 h3:first-child,.cl_4 h4:first-child,.cl_4 h5:first-child,.cl_4 h6:first-child,
.cl_5 h1:first-child,.cl_5 h2:first-child,.cl_5 h3:first-child,.cl_5 h4:first-child,.cl_5 h5:first-child,.cl_5 h6:first-child,
.cl_6 h1:first-child,.cl_6 h2:first-child,.cl_6 h3:first-child,.cl_6 h4:first-child,.cl_6 h5:first-child,.cl_6 h6:first-child,
.cl_7 h1:first-child,.cl_7 h2:first-child,.cl_7 h3:first-child,.cl_7 h4:first-child,.cl_7 h5:first-child,.cl_7 h6:first-child,
.cl_8 h1:first-child,.cl_8 h2:first-child,.cl_8 h3:first-child,.cl_8 h4:first-child,.cl_8 h5:first-child,.cl_8 h6:first-child,
.cl_9 h1:first-child,.cl_9 h2:first-child,.cl_9 h3:first-child,.cl_9 h4:first-child,.cl_9 h5:first-child,.cl_9 h6:first-child,
.cl_10 h1:first-child,.cl_10 h2:first-child,.cl_10 h3:first-child,.cl_10 h4:first-child,.cl_10 h5:first-child,.cl_10 h6:first-child,
.cl_11 h1:first-child,.cl_11 h2:first-child,.cl_11 h3:first-child,.cl_11 h4:first-child,.cl_11 h5:first-child,.cl_11 h6:first-child,
.cl_12 h1:first-child,.cl_12 h2:first-child,.cl_12 h3:first-child,.cl_12 h4:first-child,.cl_12 h5:first-child,.cl_12 h6:first-child
{
    margin-top: 0;
}
.layout{
    overflow-y: auto;
    clear:both;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.cl_1{
    width: 8.333333%;
}
.cl_2{
    width: 16.66666%;
}
.cl_3{
    width: 25%;
}
.cl_4{
    width: 33.33333%;
}
.cl_5{
    width: 41.66667%;
}
.cl_6{
    width: 50%;
}
.cl_7{
    width: 58.33333%;
}
.cl_8{
    width: 66.66666%;
}
.cl_9{
    width: 75%;
}
.cl_10{
    width: 83.33333%;
}
.cl_11{
    width: 91.66667%;
}
.cl_12{
    width: 100%;
    clear:both;
}
.clear_input{
    height: 38px;
    box-sizing: border-box;
}
.input_wrapper{
    position: relative;
}
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.shadow{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.clickable{
    cursor: pointer;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    color: #333;
    line-height: 150%;
    -webkit-font-smoothing: subpixel-antialiased;
}

#main{
    width: 1010px;
    padding-top: 200px;
    margin: 0 auto;
    padding-bottom:  50px;
    position: relative;
    overflow: auto;
    min-height: calc(100vh - 300px);
}

a{
    color: #d99900;
    text-decoration: none;
}
a:link{

}
a:visited{

}
a:hover{

}
a:active{

}

.green, a.green{
    /* color: #509E2F; */
    color: #333;
}
.blue, a.blue{
    color: #009CDE;
}
.purple, a.purple{
    color: #5936e0;
}
.orange, a.orange{
    color: #ed3308;
}
.pink, a.pink{
    color: #ff00c4;
}
.yellow, a.yellow{
    color: #FFBF3F;
}

/* linkClasses */

.green_background{
    background-color: #509E2F;
    color:white;
}
.blue_background{
    background-color: #009CDE;
    color:white;
}
.purple_background{
    background-color: #5936e0;
    color:white;
}
.orange_background{
    background-color: #ed3308;
    color:white;
}
.pink_background{
    background-color: #ff00c4;
    color:white;
}
.yellow_background{
    background-color: #FFBF3F;
}
.faded_yellow_background{
    background-color: #ffedca;
    color: black;
}

.green_background_light{
    background-color: #509E2F;
}

#default_header_inner{
    width: 1005px;
    margin: auto auto auto auto;
    position:  relative;
    height: 130px;
}

#default_header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 135px;
    background-color: #FEC63E;
    z-index: 101;
}
#default_header::after{
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: -24px;
    left: 0;
    background: url("/modules/website/public/images/SGS_3840px_Yellow_HEADER.png");
    background-position: center center;
    background-repeat: repeat-x; 
    background-size: 1840px 24px;
    pointer-events: none;
}

#mobile_header{
    display: none;
}
#mobile_scroll_to_top{
    position: absolute;
    top: 0px;
    z-index: 2;
    color: black;
    font-size: 38px;
    opacity: 0.8;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 38px;
    display: none;
}
#default_navigation{
    position: absolute;
    right: 0px;
    bottom: 40px;
}
#default_navigation a{
    display: block;
    color: black;
    float: left;
    padding-top: 60px;
    text-align:  center;
    height: 87px;
    font-size: 17px;
    font-weight: 350;
    background-size: contain;
    margin: 0 0 0 40px;
}
#default_navigation a.active{
    font-weight: 600;
    border-bottom: 1px solid #666;
}
#sgs_logo{
    float:left;
    margin-left: 0px;
    margin-top: 15px;
}
#sgs_logo img{
    width: 150px;
    padding-top:25px;
}

#footer{
    position: relative;
    /* overflow: hidden; */
    /* height: 200px; */
    height: 300px;
    z-index: 1;
    background-color: #FEC63E;
    padding: 15px 0px 55px 0px;
    color: black;
}
#footer::before{
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    top: -24px;
    left: 0;
    background-image: url("/modules/website/public/images/SGS_3840px_Yellow_FOOTER.png");
    background-position: center center;
    background-repeat: repeat-x; 
    background-size: 1840px 24px;
    pointer-events: none;
}
#footer_graphics{
    position: fixed;
    bottom: 0;
    
    width:100%;
    z-index: 0;
}

#footer_graphics::before{
    content: '';
    display: block;
    width: 100%;
    height: 900px;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 0;

    overflow: visible;
    /* background-image: url("/modules/website/public/images/SGS_FLORAL.png"), url("/modules/website/public/images/SGS_FLORAL.png"); */
    background-image: url("/modules/website/public/images/SGS_FLORAL.png"), url("/modules/website/public/images/SGS_Leaf.png");
    /* background-position: bottom right 0px, bottom left 0px; flowers */
    background-position: bottom right 0px, bottom left 100px;
    background-repeat: no-repeat; 
    /* background-size: 800px; */
    background-size: 800px 800px, auto 800px; 
    pointer-events: none;
}
#footer_inner{
    margin: auto;
    width: 1050px;
}
#footer_left{
    float: left;
}
#footer_right div{
    width: 100%;
    text-align: right;
}
#footer_right{
    float: right;
}
#footer a{
    color: black;
}

#footer a:link {
    color: black;
}
  
#footer a:visited {
    color: black;
}
#footer a:hover {
    color: black;
}
#footer a:active {
    color: black;
}
.weight_300{
    font-weight: 300;
    font-size: 16px;
}
.weight_400{
    font-weight: 400;
    font-size: 16px;
}
.weight_500{
    font-weight: 500;
    font-size: 16px;
}
.weight_600{
    font-weight: 600;
    font-size: 16px;
}
.weight_700{
    font-weight: 700;
    font-size: 16px;
}
.weight_800{
    font-weight: 800;
    font-size: 16px;
}

.volunteer_login_link_div{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}
.sp_logo img{
    height: 100px;
}
.sp_logo div{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
}
.guidebook_link_div{
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 500;
}
.charity_details{
    font-size: 14px;
    line-height: 1.3;
    font-weight: 300;
    margin-bottom: 10px;
}
.social_links{
    font-size: 36px;
    letter-spacing: 2px;
}
.youtube_logo img{
    height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
a.legal_link{
    text-transform: none;
    font-size: 12px;
}

.charity_number{
    font-size: 12px;
    font-weight: 500;
}

/* WIDTH CLASSES */
.width-100{
    width: 100%;
}
.width-75{
    width: 75%;
}
.width-66{
    width: 66.66%;
}
.width-50{
    width: 50%;
}
.width-33{
    width: 33.33%;
}
.width-25{
    width: 25%;
}
.width-auto{
    width: auto;
}
.horizontal-margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;;
}
.capitalize{
    text-transform: capitalize;
}
.clear-both{
    clear: both;
}

.tg_date_picker_2{
    z-index: 105 !IMPORTANT;
}

img{
    vertical-align:bottom;
}

.d-button-primary,.d-button-success,.d-button-warning,.d-button-default,.d-button-danger,.d-button-info,.d-button-brand{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 13px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(221, 221, 221);
    color:black;
}
a.d-button-primary:hover,
a.d-button-success:hover,
a.d-button-warning:hover,
a.d-button-default:hover,
a.d-button-danger:hover,
a.d-button-info:hover,
a.d-button-brand:hover{
    background-color: #FFEDCF;
    color: black;
}
.d-button-primary{
    background-color: #009CDE;
    color: white;
    outline: 3px solid #009CDE;
}
.d-button-success{
    background-color: #509E2F;
    color: white;
    outline: 3px solid #509E2F;
}
.d-button-warning{
    background-color: #ed3308;
    color: white;
    outline: 3px solid #ed3308;
}
.d-button-default{
    background-color: #999;
    color: white;
    outline: 3px solid #999;
}
.d-button-danger{
    background-color: #b1000b;
    color: white;
    outline: 3px solid #b1000b;
}
.d-button-info{
    background-color: #5936e0;
    color: white;
    outline: 3px solid #5936e0;
}
.d-button-brand{
    background-color: #FEC63E;
    color: black;
    outline: 3px solid #FEC63E;
}
a.yellow_round_button {
    display: inline-block;
    padding: 7px 30px;
    border-radius: 25px;
    background-color: #FEC63E;
    font-weight: 500;
    color: black;
    border: 3px solid #FEC63E;
}
a.yellow_round_button:hover{
    background-color: #FFE8B8;
}
.loading_image{
    vertical-align: middle;
    display: none;
}

.d-photograph{
    overflow: auto;
    position: relative;
}
.d-photograph img{
    max-width: 100%;
    box-sizing: border-box;
    margin-top: -1px;
}

.pull-left{
    margin-right: 20px;
    margin-bottom: 20px;
}
.pull-right{
    margin-left: 20px;
    margin-bottom: 20px;
}
.d-photograph-text.empty{
    display: none;
}

.d-photograph-text{
    position: absolute;
    font-size: 13px;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px 5px 10px;
}
.d-photograph .photograph_title{
    margin-right: 10px;
}
.d-photograph .photograph_copyright{
    margin-right: 10px;
}
.d-download{
    clear:both;
    position: relative;
}
.d-download-title{
    margin-bottom: 0;
}
.d-download a.list-group-item{
    padding-right: 40px;
}

.tg_subwidget_html input, .custom_html input{
    width: auto;
    padding: 0;
}
.wordart-attribution{
    display:none;
}

/* carousel  STARTS */
.flickity-page-dots, .flickity-enabled.is-fullscreen .flickity-page-dots{
    top: 15px;
    bottom: initial;
    left: 60px;
    right: 60px;
    width:auto;
}
.flickity-page-dots .dot, .flickity-enabled.is-fullscreen .flickity-page-dots .dot{
    background-color: #FFBF3F;
    opacity: 1;
}
.flickity-page-dots .is-selected, .flickity-enabled.is-fullscreen .flickity-page-dots .is-selected{
    background-color: #ff00c4;
}

/* old stuff */
.flickity_json{
    display: none;
}
.flickity_link{
    display: none;
}
.carousel-cell {
    width: 100%;
}
.layout_12 .carousel_wrapper{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.carousel_text{
    margin-top: 10px;
}
.flickity-enabled.is-draggable .flickity-viewport{
    cursor:pointer;
}
.carousel_link{
    display: none;
}
.carousel-cell img{
    width:100%;
}
.carousel_wrapper{
    position: relative;
    background-color: #FFBF3F;
    /* padding: 15px 15px 0px 15px; */
    margin-bottom: 15px;
}
.carousel_wrapper h1, .carousel_wrapper h2, .carousel_wrapper h3, .carousel_wrapper h4, .carousel_wrapper h5, .carousel_wrapper h6{
    margin-bottom: 0px;
}
.download_photograph{
    font-size: 36px;
    position:absolute;
    z-index:3;
    bottom: 30px;
    right: 10px;
    left: 10px;
    margin: auto;
    border-radius: 30px;
    color: black;
    cursor:pointer;
    background: #FFBF3F;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.flickity-page-dots .is-selected{
    background-color: #ff00c4;
}

/* fullscreen */

.flickity-carousel.is-fullscreen{
    z-index: 101;
}
.flickity-is-fullscreen .download_photograph{
    position: fixed;
    z-index: 501;
}
.flickity-carousel.is-fullscreen{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:500;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    margin: 0;
    padding: 0;
}
.flickity-carousel.is-fullscreen .flickity-viewport{
    height: 100% !IMPORTANT;
}
.flickity-carousel.is-fullscreen .carousel-cell{
    text-align: center;
    margin: auto;
    bottom: 0;
    top: 0;
    z-index: 501;
}
.flickity-carousel.is-fullscreen .carousel-cell img{
    max-height: 100vh;
    max-width:100vw;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%) translateX(-50%);
    -webkit-transform: perspective(1px) translateY(-50%) translateX(-50%);
    -ms-transform: perspective(1px) translateY(-50%) translateX(-50%);
    margin: auto;
}
.flickity-carousel.is-fullscreen .carousel_text{
    margin-top: 50px;
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateX(-50%);
    left: 50%;
    padding: 0px 15px;
    margin: 0;
}
.flickity-carousel.is-fullscreen .download_photograph{
    position: fixed;
    z-index: 501;
}
/* carousel ENDS */
/* new card style */
.d-card{
    position: relative;
    color: #333;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    padding: 0;
    margin-bottom: 15px;
    /* border-radius: 5px; */
}
.d-card-raised{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.d-card p{
    color: #666;
    font-size: 15px;
}
.d-card>p, .d-card>h1, .d-card>h2, .d-card>h3, .d-card>h4, .d-card>h5, .d-card>h6, .d-card>.d-download.list-group, .d-card>blockquote{
    /* padding: 0 15px; */
    margin-left: 15px;
    margin-right: 15px;
}

.d-card .d-photograph{
    margin: 0px;
}
.d-card .d-photograph.pull-left{
    margin-right: 20px;
}
.d-card .d-photograph.pull-right{
    margin-left: 20px;
}

/* the new block link style */
a.d-block-link{
    position: relative;
    color: #333;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    padding: 0 0 0 0;
    margin-bottom: 15px;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); */
    /* border-radius: 5px; */
}
a.d-block-link.d-block-link-flat{
    box-shadow: none;
}
a.d-block-link.d-block-link-no-outline{
    border: none;
}
.d-block-link p{
    color: #666;
    font-size: 15px;
}
.d-block-link p, .d-block-link h1, .d-block-link h2, .d-block-link h3, .d-block-link h4, .d-block-link h5, .d-block-link h6{
    padding: 0 15px;
}


.d-photograph img{
    width: 100%;
}

.guidebookicons{
    color: #509E2F;
    font-size: 32px;
}
.guidebookicons span{
    display: inline-block;
    margin-right: 10px;
}

#help_page_icon{
    position: fixed;
    bottom: 30px;
    left: 30px;
    color:white;
    z-index: 2;
    font-size: 30px;
    /*padding: 15px 17px;*/
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
    display: none;
}
#print_list{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:white;
    z-index: 2;
    font-size: 30px;
    /*padding: 15px 17px;*/
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}
#print_list.disabled{
    background-color: #aaa;
    color: #ccc;
}


/* list-group */
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
a.list-group-item,
button.list-group-item {
    color: #555555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #555555;
    background-color: #f5f5f5;
}
button.list-group-item {
    width: 100%;
    text-align: left;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    background-color: #e6e6e6;
    color: #999999;
    cursor: not-allowed;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #999999;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #2780e3;
    border-color: #dddddd;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #dceafa;
}
.list-group-item-success {
    color: #ffffff;
    background-color: #3fb618;
}
a.list-group-item-success,
button.list-group-item-success {
    color: #ffffff;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #ffffff;
    background-color: #379f15;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-info {
    color: #ffffff;
    background-color: #9954bb;
}
a.list-group-item-info,
button.list-group-item-info {
    color: #ffffff;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #ffffff;
    background-color: #8d46b0;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-warning {
    color: #ffffff;
    background-color: #ff7518;
}
a.list-group-item-warning,
button.list-group-item-warning {
    color: #ffffff;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: #ffffff;
    background-color: #fe6600;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-danger {
    color: #ffffff;
    background-color: #ff0039;
}
a.list-group-item-danger,
button.list-group-item-danger {
    color: #ffffff;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #ffffff;
    background-color: #e60033;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}

.list-group-item:before {
    content:" ";
    font-size: 15px;
    display: block;
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url('/assets/save_alt-24px.svg') no-repeat;
}

.d-block-link{
    display: block;
    overflow: auto;
}

@media print {
    #footer{
        position: relative;
    }
    #main {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #default_header{
        position: relative;
    }
    #help_page_icon, #print_list{
        display: none;
    }
    .listing_pair{
        page-break-inside: avoid;
    }
}

#IframeDonate{
    width: 360px !important;
}