@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices to shut the keyboard */
    body{
        cursor:pointer;
    }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 20px;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color: black;
}
h1,h2,h3,h4,h5,h6{
    line-height: 130%;
}
div,p,h1{
    margin-top: 0;
    /* box-sizing: border-box; */
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-muted {
    color: #999999;
}
.text-primary {
    color: #2780e3;
}

.hidden{
    display: none;
}

blockquote{
    clear: both;
}
hr{
    overflow: visible;
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
}

hr:after {
    content: " - ";
    position: relative;
    height: 15px;
    color: transparent;
}
.animate> * {
    -webkit-transition:all 0.4s ease 0s;
    -moz-transition:all 0.4s ease 0s;
    -o-transition:all 0.4s ease 0s;
    transition:all 0.4s ease 0s;
}
.blured{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.no-transition> *{
    -webkit-transition: none !IMPORTANT;
    -moz-transition: none !IMPORTANT;
    -ms-transition: none !IMPORTANT;
    -o-transition: none !IMPORTANT;
    transition: none !IMPORTANT;
}
blockquote {
    margin: 0 auto;
    padding: 15px 15px 5px 25px;
    border-left: 5px solid #ccc;
    margin-bottom: 15px;
}
blockquote:before {
    display: none;
}
input{
    border:none;
    border-collapse: collapse;
    box-sizing: border-box;
    border-radius: 5px;
    color: #666;
    font-size: 16px;
    padding: 10px;
    width:100%;
    outline:none;
    box-sizing: border-box;
    height: 38px;
    -webkit-appearance:     @value;
    -moz-appearance:        @value;
    -ms-appearance:         @value;
    -o-appearance:          @value;
    appearance:             @value;
}
.tg_widget{
    position: relative;
}
.tg_card_header img{
    border: 0 !IMPORTANT;
}
/* grid */
.cl_1,.cl_2,.cl_3,.cl_4,.cl_5,.cl_6,.cl_7,.cl_8,.cl_9,.cl_10,.cl_11,.cl_12{
    float:left;
    position: relative;
    padding: 0px 15px 0px 15px;
}
.cl_1 p:first-child,.cl_2 p:first-child,.cl_3 p:first-child,.cl_4 p:first-child,.cl_5 p:first-child,.cl_6 p:first-child,
.cl_7 p:first-child,.cl_8 p:first-child,.cl_9 p:first-child,.cl_10 p:first-child,.cl_11 p:first-child,.cl_12 p:first-child,
.cl_1 h1:first-child,.cl_1 h2:first-child,.cl_1 h3:first-child,.cl_1 h4:first-child,.cl_1 h5:first-child,.cl_1 h6:first-child,
.cl_2 h1:first-child,.cl_2 h2:first-child,.cl_2 h3:first-child,.cl_2 h4:first-child,.cl_2 h5:first-child,.cl_2 h6:first-child,
.cl_3 h1:first-child,.cl_3 h2:first-child,.cl_3 h3:first-child,.cl_3 h4:first-child,.cl_3 h5:first-child,.cl_3 h6:first-child,
.cl_4 h1:first-child,.cl_4 h2:first-child,.cl_4 h3:first-child,.cl_4 h4:first-child,.cl_4 h5:first-child,.cl_4 h6:first-child,
.cl_5 h1:first-child,.cl_5 h2:first-child,.cl_5 h3:first-child,.cl_5 h4:first-child,.cl_5 h5:first-child,.cl_5 h6:first-child,
.cl_6 h1:first-child,.cl_6 h2:first-child,.cl_6 h3:first-child,.cl_6 h4:first-child,.cl_6 h5:first-child,.cl_6 h6:first-child,
.cl_7 h1:first-child,.cl_7 h2:first-child,.cl_7 h3:first-child,.cl_7 h4:first-child,.cl_7 h5:first-child,.cl_7 h6:first-child,
.cl_8 h1:first-child,.cl_8 h2:first-child,.cl_8 h3:first-child,.cl_8 h4:first-child,.cl_8 h5:first-child,.cl_8 h6:first-child,
.cl_9 h1:first-child,.cl_9 h2:first-child,.cl_9 h3:first-child,.cl_9 h4:first-child,.cl_9 h5:first-child,.cl_9 h6:first-child,
.cl_10 h1:first-child,.cl_10 h2:first-child,.cl_10 h3:first-child,.cl_10 h4:first-child,.cl_10 h5:first-child,.cl_10 h6:first-child,
.cl_11 h1:first-child,.cl_11 h2:first-child,.cl_11 h3:first-child,.cl_11 h4:first-child,.cl_11 h5:first-child,.cl_11 h6:first-child,
.cl_12 h1:first-child,.cl_12 h2:first-child,.cl_12 h3:first-child,.cl_12 h4:first-child,.cl_12 h5:first-child,.cl_12 h6:first-child
{
    margin-top: 0;
}
.layout{
    overflow-y: auto;
    clear:both;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
}
.cl_1{
    width: 8.333333%;
}
.cl_2{
    width: 16.66666%;
}
.cl_3{
    width: 25%;
}
.cl_4{
    width: 33.33333%;
}
.cl_5{
    width: 41.66667%;
}
.cl_6{
    width: 50%;
}
.cl_7{
    width: 58.33333%;
}
.cl_8{
    width: 66.66666%;
}
.cl_9{
    width: 75%;
}
.cl_10{
    width: 83.33333%;
}
.cl_11{
    width: 91.66667%;
}
.cl_12{
    width: 100%;
    clear:both;
}
.clear_input{
    height: 38px;
    box-sizing: border-box;
}
.input_wrapper{
    position: relative;
}
.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.shadow{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.clickable{
    cursor: pointer;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
    color: #333;
    line-height: 150%;
    -webkit-font-smoothing: subpixel-antialiased;
}
#main{
    width: 1010px;
    padding-top: 170px;
    margin: 0 auto;
    padding-bottom:  350px;
    position: relative;
    overflow: auto;
}

a{
    color: #009CDE;
    text-decoration: none;
}
a:link{

}
a:visited{

}
a:hover{

}
a:active{

}

.green, a.green{
    color: #509E2F;
}
.blue, a.blue{
    color: #009CDE;
}
.purple, a.purple{
    color: #5936e0;
}
.orange, a.orange{
    color: #ed3308;
}
.pink, a.pink{
    color: #ff00c4;
}
.yellow, a.yellow{
    color: #FFBF3F;
}

/* linkClasses */



.green_background{
    background-color: #509E2F;
    color:white;
}
.blue_background{
    background-color: #009CDE;
    color:white;
}
.purple_background{
    background-color: #5936e0;
    color:white;
}
.orange_background{
    background-color: #ed3308;
    color:white;
}
.pink_background{
    background-color: #ff00c4;
    color:white;
}
.yellow_background{
    background-color: #FFBF3F;
}
.faded_yellow_background{
    background-color: #ffedca;
    color: black;
}

.green_background_light{
    background-color: #509E2F;
}

#default_header_inner{
    width: 890px;
    margin: auto auto auto auto;
    /* background-color: blue; */
    /* margin-top: 20px; */
    position:  relative;
    /* overflow-y:  auto; */
    height: 150px;
}

#default_header{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 155px;
    background-color: white;
    z-index: 101;
}
#mobile_header{
    display: none;
}
#mobile_scroll_to_top{
    position: absolute;
    top: 0px;
    z-index: 2;
    color: black;
    font-size: 38px;
    opacity: 0.8;
    cursor: pointer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 38px;
    display: none;
}
#default_navigation{
    position: absolute;
    right: 80px;
    bottom: 40px;
}
#default_navigation a{
    display: block;
    color: black;
    float: left;
    padding-top: 50px;
    text-align:  center;
    text-transform: uppercase;
    height: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 13px 0 0;
}
#sgs_logo{
    float:left;
    margin-left: 30px;
    margin-top: 15px;
}
#sgs_logo img{
    width: 270px;
}
.pot1 img, .pot2 img, .pot3 img, .pot4 img{
    display: none;
}
.pot1{
    background-image: url('/modules/website/public/images/pot1.png');
    width: 98px;
}
.pot1.active{
    background-image: url('/modules/website/public/images/pot1g.png');
}
.pot2{
    background-image: url('/modules/website/public/images/pot2.png');
    width: 82px;
}
.pot2.active{
    background-image: url('/modules/website/public/images/pot2g.png');
}
.pot3{
    background-image: url('/modules/website/public/images/pot3.png');
    width: 85px;
}
.pot3.active{
    background-image: url('/modules/website/public/images/pot3g.png');
}
.pot4{
    background-image: url('/modules/website/public/images/pot4.png');
    width: 83px;
}
.pot4.active{
    background-image: url('/modules/website/public/images/pot4g.png');
}

#opening_text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    height: 25px;
    overflow: hidden;
    padding: 0 20px;
    color: #509E2F;
}
#opening_text:after {
    content: "";
    display: inline-block;
    width: 100%;
}
#birds{
    position: absolute;
    left: -320px;
    top: 50px;
}
#birds img{

}
#green_bird_1{

}

#footer{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    overflow: visible;
    z-index: 1;
}
#footer_on_off{
    position:  absolute;
    bottom: 0;
    right: 0;;
    z-index:  2;
    color: white;
    font-size: 24px;
    text-align: right;
    padding: 5px 15px 1px 15px;
    cursor: pointer;
}
#footer_background{
    background-image: url('/modules/website/public/images/grass.png');
    background-repeat: repeat-x;
    height: 60px;
}
#footer_links{
    text-align: center;
    background-color: #5EA845;
    padding: 0px 50px 10px 50px;
    line-height: 30px;
    margin-top: -10px;
}
#footer_links a{
    color: white;
    margin-right: 30px;
    display: inline-block;
}
#footer_links a.active{
    color: #FFBF3F;
}

#footer_links .social_links>a{
    margin-right: 10px;
    font-size: 32px;
}

a.legal_link{
    text-transform: none;
    font-weight: 300;
    font-size: 12px;
}
.charity_number{
    font-size: 12px;
    color: white;
    display: inline-block;
    /* line-height: 0; */
}
#fork_and_spade{
    position: absolute;
    top: -150px;
    height: 200px;
    left: 30px;
}
#young_people_planter{
    position: absolute;
    top: -200px;
    height: 250px;
    right: 30px;
}
#butterfly_right{
    position: absolute;
    right: 120px;
    bottom: 340px;
}

/* WIDTH CLASSES */
.width-100{
    width: 100%;
}
.width-75{
    width: 75%;
}
.width-66{
    width: 66.66%;
}
.width-50{
    width: 50%;
}
.width-33{
    width: 33.33%;
}
.width-25{
    width: 25%;
}

.horizontal-margin-auto{
    margin-left: auto;
    margin-right: auto;
}
.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;;
}
.capitalize{
    text-transform: capitalize;
}
.clear-both{
    clear: both;
}

/* padding and margin classes */

/* PADDINGS  */

/* padding-left: */
.d-pl-xxs{
    padding-left: 4px;
}
.d-pl-xs{
    padding-left: 8px;
}
.d-pl-s{
    padding-left: 12px;
}
.d-pl-m{
    padding-left: 16px;
}
.d-pl-l{
    padding-left: 24px;
}
.d-pl-xl{
    padding-left: 32px;
}
.d-pl-xxl{
    padding-left: 64px;
}

/* padding-right: */
.d-pr-xxs{
    padding-right: 4px;
}
.d-pr-xs{
    padding-right: 8px;
}
.d-pr-s{
    padding-right: 12px;
}
.d-pr-m{
    padding-right: 16px;
}
.d-pr-l{
    padding-right: 24px;
}
.d-pr-xl{
    padding-right: 32px;
}
.d-pr-xxl{
    padding-right: 64px;
}

/* padding-top: */
.d-pt-xxs{
    padding-top: 4px;
}
.d-pt-xs{
    padding-top: 8px;
}
.d-pt-s{
    padding-top: 12px;
}
.d-pt-m{
    padding-top: 16px;
}
.d-pt-l{
    padding-top: 24px;
}
.d-pt-xl{
    padding-top: 32px;
}
.d-pt-xxl{
    padding-top: 64px;
}

/* padding-bottom: */
.d-pb-xxs{
    padding-bottom: 4px;
}
.d-pb-xs{
    padding-bottom: 8px;
}
.d-pb-s{
    padding-bottom: 12px;
}
.d-pb-m{
    padding-bottom: 16px;
}
.d-pb-l{
    padding-bottom: 24px;
}
.d-pb-xl{
    padding-bottom: 32px;
}
.d-pb-xxl{
    padding-bottom: 64px;
}

/* padding-y: */
.d-py-xxs{
    padding-bottom: 4px;
    padding-top: 4px;
}
.d-py-xs{
    padding-bottom: 8px;
    padding-top: 8px;
}
.d-py-s{
    padding-bottom: 12px;
    padding-top: 12px;
}
.d-py-m{
    padding-bottom: 16px;
    padding-top: 16px;
}
.d-py-l{
    padding-bottom: 24px;
    padding-top: 24px;
}
.d-py-xl{
    padding-bottom: 32px;
    padding-top: 32px;
}
.d-py-xxl{
    padding-bottom: 64px;
    padding-top: 64px;
}

/* padding-x: */
.d-px-xxs{
    padding-left: 4px;
    padding-right: 4px;
}
.d-px-xs{
    padding-left: 8px;
    padding-right: 8px;
}
.d-px-s{
    padding-left: 12px;
    padding-right: 12px;
}
.d-px-m{
    padding-left: 16px;
    padding-right: 16px;
}
.d-px-l{
    padding-left: 24px;
    padding-right: 24px;
}
.d-px-xl{
    padding-left: 32px;
    padding-right: 32px;
}
.d-px-xxl{
    padding-left: 64px;
    padding-right: 64px;
}

/* padding-all: */
.d-pa-xxs{
    padding: 4px 4px 4px 4px;
}
.d-pa-xs{
    padding: 8px 8px 8px 8px;
}
.d-pa-s{
    padding: 12px 12px 12px 12px;
}
.d-pa-m{
    padding: 16px 16px 16px 16px;
}
.d-pa-l{
    padding: 24px 24px 24px 24px;
}
.d-pa-xl{
    padding: 32px 32px 32px 32px;
}
.d-pa-xxl{
    padding: 64px 64px 64px 64px;
}

/* MARGINS */
/* margin-left: */
.d-ml-xxs{
    margin-left: 4px;
}
.d-ml-xs{
    margin-left: 8px;
}
.d-ml-s{
    margin-left: 12px;
}
.d-ml-m{
    margin-left: 16px;
}
.d-ml-l{
    margin-left: 24px;
}
.d-ml-xl{
    margin-left: 32px;
}
.d-ml-xxl{
    margin-left: 64px;
}

/* margin-right: */
.d-mr-xxs{
    margin-right: 4px;
}
.d-mr-xs{
    margin-right: 8px;
}
.d-mr-s{
    margin-right: 12px;
}
.d-mr-m{
    margin-right: 16px;
}
.d-mr-l{
    margin-right: 24px;
}
.d-mr-xl{
    margin-right: 32px;
}
.d-mr-xxl{
    margin-right: 64px;
}

/* margin-top: */
.d-mt-xxs{
    margin-top: 4px;
}
.d-mt-xs{
    margin-top: 8px;
}
.d-mt-s{
    margin-top: 12px;
}
.d-mt-m{
    margin-top: 16px;
}
.d-mt-l{
    margin-top: 24px;
}
.d-mt-xl{
    margin-top: 32px;
}
.d-mt-xxl{
    margin-top: 64px;
}

/* margin-bottom: */
.d-mb-xxs{
    margin-bottom: 4px;
}
.d-mb-xs{
    margin-bottom: 8px;
}
.d-mb-s{
    margin-bottom: 12px;
}
.d-mb-m{
    margin-bottom: 16px;
}
.d-mb-l{
    margin-bottom: 24px;
}
.d-mb-xl{
    margin-bottom: 32px;
}
.d-mb-xxl{
    margin-bottom: 64px;
}

/* margin-y: */
.d-my-xxs{
    margin-bottom: 4px;
    margin-top: 4px;
}
.d-my-xs{
    margin-bottom: 8px;
    margin-top: 8px;
}
.d-my-s{
    margin-bottom: 12px;
    margin-top: 12px;
}
.d-my-m{
    margin-bottom: 16px;
    margin-top: 16px;
}
.d-my-l{
    margin-bottom: 24px;
    margin-top: 24px;
}
.d-my-xl{
    margin-bottom: 32px;
    margin-top: 32px;
}
.d-my-xxl{
    margin-bottom: 64px;
    margin-top: 64px;
}

/* margin-x: */
.d-mx-xxs{
    margin-left: 4px;
    margin-right: 4px;
}
.d-mx-xs{
    margin-left: 8px;
    margin-right: 8px;
}
.d-mx-s{
    margin-left: 12px;
    margin-right: 12px;
}
.d-mx-m{
    margin-left: 16px;
    margin-right: 16px;
}
.d-mx-l{
    margin-left: 24px;
    margin-right: 24px;
}
.d-mx-xl{
    margin-left: 32px;
    margin-right: 32px;
}
.d-mx-xxl{
    margin-left: 64px;
    margin-right: 64px;
}

/* margin-all: */
.d-ma-xxs{
    margin: 4px 4px 4px 4px;
}
.d-ma-xs{
    margin: 8px 8px 8px 8px;
}
.d-ma-s{
    margin: 12px 12px 12px 12px;
}
.d-ma-m{
    margin: 16px 16px 16px 16px;
}
.d-ma-l{
    margin: 24px 24px 24px 24px;
}
.d-ma-xl{
    margin: 32px 32px 32px 32px;
}
.d-ma-xxl{
    margin: 64px 64px 64px 64px;
}

.tg_date_picker_2{
    z-index: 105 !IMPORTANT;
}

img{
    vertical-align:bottom;
}

.d-button-primary,.d-button-success,.d-button-warning,.d-button-default,.d-button-danger,.d-button-info{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(221, 221, 221);
    color:black;
}

.d-button-primary{
    background-color: #009CDE;
    color: white;
}
.d-button-success{
    background-color: #509E2F;
    color: white;
}
.d-button-warning{
    background-color: #ed3308;
    color: white;
}
.d-button-default{
    background-color: #999;
    color: white;
}
.d-button-danger{
    background-color: #b1000b;
    color: white;
}
.d-button-info{
    background-color: #5936e0;
    color: white;
}

.loading_image{
    vertical-align: middle;
    display: none;
}

.d-photograph{
    margin-bottom: 10px;
    overflow: auto;
    position: relative;
}
.d-photograph img{
    /* border: 2px solid #eee; */
    box-sizing: border-box;
}
.d-photograph.pull-left{
    margin-right: 20px;
    margin-bottom: 15px;
}
.d-photograph.pull-right{
    margin-left: 20px;
    margin-bottom: 15px;
}
.d-photograph img{
    max-width: 100%;
}
.d-photograph-text.empty{
    display: none;
}

.d-photograph-text{
    position: absolute;
    font-size: 13px;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px 5px 10px;
}
.d-photograph .photograph_title{
    margin-right: 10px;
}
.d-photograph .photograph_copyright{
    margin-right: 10px;

}
.d-download{
    clear:both;
    position: relative;
}
.d-download-title{
    margin-bottom: 0;
}

.wordart-attribution{
    display:none;
}

/* carousel  STARTS */
.flickity-page-dots, .flickity-enabled.is-fullscreen .flickity-page-dots{
    top: 15px;
    bottom: initial;
    left: 60px;
    right: 60px;
    width:auto;
}
.flickity-page-dots .dot, .flickity-enabled.is-fullscreen .flickity-page-dots .dot{
    background-color: #FFBF3F;
    opacity: 1;
}
.flickity-page-dots .is-selected, .flickity-enabled.is-fullscreen .flickity-page-dots .is-selected{
    background-color: #ff00c4;
}

/* old stuff */
.flickity_json{
    display: none;
}
.flickity_link{
    display: none;
}
.carousel-cell {
    width: 100%;
}
.layout_12 .carousel_wrapper{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
}
.carousel_text{
    margin-top: 10px;
}
.flickity-enabled.is-draggable .flickity-viewport{
    cursor:pointer;
}
.carousel_link{
    display: none;
}
.carousel-cell img{
    width:100%;
}
.carousel_wrapper{
    position: relative;
    background-color: #FFBF3F;
    padding: 15px 15px 0px 15px;
    margin-bottom: 15px;
}
.carousel_wrapper h1, .carousel_wrapper h2, .carousel_wrapper h3, .carousel_wrapper h4, .carousel_wrapper h5, .carousel_wrapper h6{
    margin-bottom: 0px;
}
.download_photograph{
    font-size: 36px;
    position:absolute;
    z-index:3;
    bottom: 30px;
    right: 10px;
    left: 10px;
    margin: auto;
    border-radius: 30px;
    color: black;
    cursor:pointer;
    background: #FFBF3F;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.flickity-page-dots .is-selected{
    background-color: #ff00c4;
}

/* fullscreen */

.flickity-carousel.is-fullscreen{
    z-index: 101;
}
.flickity-is-fullscreen .download_photograph{
    position: fixed;
    z-index: 501;
}
.flickity-carousel.is-fullscreen{
    width:100vw;
    height:100vh;
    position:fixed;
    z-index:500;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    margin: 0;
    padding: 0;
}
.flickity-carousel.is-fullscreen .flickity-viewport{
    height: 100% !IMPORTANT;
}
.flickity-carousel.is-fullscreen .carousel-cell{
    text-align: center;
    margin: auto;
    bottom: 0;
    top: 0;
    z-index: 501;
}
.flickity-carousel.is-fullscreen .carousel-cell img{
    max-height: 100vh;
    max-width:100vw;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    vertical-align: middle;
    perspective(1px) translateY(-50%);
    transform: perspective(1px) translateY(-50%) translateX(-50%);
    -webkit-transform: perspective(1px) translateY(-50%) translateX(-50%);
    -ms-transform: perspective(1px) translateY(-50%) translateX(-50%);
    margin: auto;
}
.flickity-carousel.is-fullscreen .carousel_text{
    margin-top: 50px;
    color: #fff;
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transform: translateX(-50%);
    left: 50%;
    padding: 0px 15px;
    margin: 0;
}
.flickity-carousel.is-fullscreen .download_photograph{
    position: fixed;
    z-index: 501;
}
/* carousel ENDS */
/* new card style */
.d-card{
    position: relative;
    color: #333;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    padding: 0;
    margin-bottom: 15px;
    border-radius: 5px;
}
.d-card-raised{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.d-card p{
    color: #666;
    font-size: 15px;
}
.d-card>p, .d-card>h1, .d-card>h2, .d-card>h3, .d-card>h4, .d-card>h5, .d-card>h6, .d-card>.d-download.list-group, .d-card>blockquote{
    /* padding: 0 15px; */
    margin-left: 15px;
    margin-right: 15px;
}

.d-card .d-photograph{
    margin: 0px;
}
.d-card .d-photograph.pull-left{
    margin-right: 20px;
}
.d-card .d-photograph.pull-right{
    margin-left: 20px;
}

/* the new block link style */
a.d-block-link{
    position: relative;
    color: #333;
    border: 1px solid #ccc;
    display: block;
    overflow: auto;
    padding: 0 0 0 0;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 5px;
}
a.d-block-link.d-block-link-flat{
    box-shadow: none;
}
a.d-block-link.d-block-link-no-outline{
    border: none;
}
.d-block-link p{
    color: #666;
    font-size: 15px;
}
.d-block-link p, .d-block-link h1, .d-block-link h2, .d-block-link h3, .d-block-link h4, .d-block-link h5, .d-block-link h6{
    padding: 0 15px;
}
.d-block-link .d-photograph{
    margin: 0px;
}
.d-block-link .d-photograph.pull-left{
    margin-right: 20px;
}
.d-block-link .d-photograph.pull-right{
    margin-left: 20px;
}

.d-photograph img{
    width: 100%;
}

.guidebookicons{
    color: #509E2F;
    font-size: 32px;
}
.guidebookicons span{
    display: inline-block;
    margin-right: 10px;
}

#help_page_icon{
    position: fixed;
    bottom: 30px;
    left: 30px;
    color:white;
    z-index: 2;
    font-size: 30px;
    /*padding: 15px 17px;*/
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
    display: none;
}
#print_list{
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:white;
    z-index: 2;
    font-size: 30px;
    /*padding: 15px 17px;*/
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 55px;
}
#print_list.disabled{
    background-color: #aaa;
    color: #ccc;
}


/* list-group */
.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
a.list-group-item,
button.list-group-item {
    color: #555555;
}
a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #555555;
    background-color: #f5f5f5;
}
button.list-group-item {
    width: 100%;
    text-align: left;
}
.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    background-color: #e6e6e6;
    color: #999999;
    cursor: not-allowed;
}
.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}
.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #999999;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #2780e3;
    border-color: #dddddd;
}
.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #dceafa;
}
.list-group-item-success {
    color: #ffffff;
    background-color: #3fb618;
}
a.list-group-item-success,
button.list-group-item-success {
    color: #ffffff;
}
a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}
a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #ffffff;
    background-color: #379f15;
}
a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-info {
    color: #ffffff;
    background-color: #9954bb;
}
a.list-group-item-info,
button.list-group-item-info {
    color: #ffffff;
}
a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}
a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #ffffff;
    background-color: #8d46b0;
}
a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-warning {
    color: #ffffff;
    background-color: #ff7518;
}
a.list-group-item-warning,
button.list-group-item-warning {
    color: #ffffff;
}
a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}
a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: #ffffff;
    background-color: #fe6600;
}
a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-danger {
    color: #ffffff;
    background-color: #ff0039;
}
a.list-group-item-danger,
button.list-group-item-danger {
    color: #ffffff;
}
a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}
a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #ffffff;
    background-color: #e60033;
}
a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
}
.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}
.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}

.list-group-item:before {
    content:" ";
    font-size: 15px;
    display: block;
    position: absolute;
    right: 10px;
    width: 25px;
    height: 25px;
    background: url('assets/save_alt-24px.svg') no-repeat;
}

.d-block-link{
    display: block;
    overflow: auto;
}
/* glyphicons */
/* @font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

@media print {
    #footer{
        position: relative;
    }
    #main {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #default_header{
        position: relative;
    }
    #help_page_icon, #print_list{
        display: none;
    }
    .listing_pair{
        page-break-inside: avoid;
    }
}
